.Toastify__toast {
  background: var(--mainColor1) !important;
  border-radius: 8px !important;
  color: var(--mainColor2) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 10px 15px !important;
  margin-top: 20px !important;
  box-shadow: var(--Shadow) !important;
  width: 330px !important;

}

.Toastify__progress-bar--success {
  background: var(--success) !important;
}
.Toastify__progress-bar--error {
  background: var(--error) !important;
}
.Toastify__progress-bar--info {
  background: var(--info) !important;
}
.Toastify__progress-bar--warning {
  background: var(--warning) !important;
}
.Toastify__progress-bar--default {
  background: var(--mainColor3) !important;
  
}

.Toastify__close-button {
  color: var(--foreground) !important;
  width: 40px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
  font-weight: bold !important;
}


.Toastify__toast--success {
  color: var(--success) !important;
}
.Toastify__toast--error {
  color: var(--error) !important;
}