.RegisterPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: var(--mainColor1);
}

.RegisterSlogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.RegisterSlogan h1{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    width: 80%;
}




.RegisterContainer{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.RegisterContainer h1{
    margin-top: 40px;
}
.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    gap: 10px;
    margin-top: 20px;
}
.Form label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    font-weight: 600;
    margin-left: 20px;
    color: var(--foreground);
}
.icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--mainColor3);
}
.Form Input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: var(--fixedColor);
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}
.RegisterButtons{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.RegisterButton{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--mainColor3);
    color: var(--fixedColor);
    transition: all 0.3s ease-in-out;

}
.GoogleButton{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4285F4;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;

}
.GoogleIcon{
    width: 20px;
    height: 20px;

}
.RegisterButton:hover, .GoogleButton:hover{
    transition: all 0.3s ease-in-out;
    scale: 1.05;
    box-shadow: var(--Shadow);
}
.RegisterButtons p{
    margin-top: 10px;
    text-align: center;
    color: var(--foreground);

}
.RegisterButtons a{
    text-decoration: none;
    color: var(--mainColor3);
    font-weight: 600;

}

@media screen and (max-width: 768px) {
    .RegisterPage{
        flex-direction: column;
    }
    .RegisterSlogan{
        width: 100%;
    }
    .RegisterSlogan h1{
        display: none;
    }
    .RegisterContainer{
        width: 100%;
    }
}